body{
    margin: 0px;
}
*{
    margin: 0px;
}
/* #container{
    margin: auto;
    width: 80%;
    background-color: chartreuse;
    border: 1px solid #acafb4;
    border-radius: 10px;
    margin: 60px 60px;
} */
.new{
    /* background-color: aqua  ; */
}
#nav-bar{
    background-color: blueviolet;
    height: 100px;
    /* width: 700px; */
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: center;
    gap: 70px;
    /* border-bottom: 1px solid #acafb4; */
}
#nav-bar img{
    height: 90px;

}
#nav-bar-cont{
    display: flex;
    gap: 70px;
    list-style: none;
    padding-left: 0;
    font-size: 30px;
}
#nav-bar button{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}
.one{
    color: #0aa7eb;
}
#hero-section{
    /* background-color: burlywood; */
    height: 400px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px 70px;
    gap: 70px;
}
#hero-section-cont{
    background-color: blue;
    width: 300px;
    height: 350px;
    border-radius:20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#hero-section-cont img{
    height: 350px;
    width: 300px;
    background-size: contain;
    /* display: flex;
    justify-content: center; */
}
#hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
}
#hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:70px;
}
#one-1{
    /* background-color: #0aa7eb; */
    /* height: 50px; */
    /* width:900px; */
    display: flex;
    align-items: center;
    gap:60px;
    padding-top: 40px;
    align-items: center;
}
#one-1 svg{
    height: 15px;
}
#one-1 button{
    height: 40px;
    width: 130px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
#one-1-cont-1{
    /* background-color: red;    */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 20px;
        border: solid 1px black;
}
#one-1-cont svg{
    height: 25px;
}
#one-1-cont{
    /* background-color: blue; */
    display: flex;
    width: 100px;
    gap: 10px;
    align-items: center;

}
#aside{
    background-color: blue;
    height: 100px;
}
#about-me{
    /* background-color:#0aa7eb ; */
    padding-top: 60px;
}
#about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:45px;
    padding-left: 100px;
        text-align: center;
}
#about-me-2{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 270px;
    /* padding: 100px; */
    width:400px;
}
#about-me-cont-1{
    padding: 20px 0px;
    width: 900px;
    line-height: 1.6em;
    font-size:0px;
    text-align: center;
}
#about-me-cont-2{
    padding: 20px 0px;
    width: 900px;
    line-height: 1.6em;
    font-size:20px;
    text-align: center;
}
#skill{
    /* background-color: orange; */
    height: 200px;
       /* display: flex; */
    align-self: center;
    justify-content: center;
    /* padding-left: 270px; */
    padding-top: 100px;
}
#skill h3{
    padding-bottom: 20px;
    font-size:30px;
}
#skill li{
        line-height: 1.6em;
        font-size:20px;
}
#skill-cont{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* gap: 30px; */
}
#nav-bar-cont li:hover{
    color: blue;
    cursor: pointer;
}


/* meadia query for screens below 320px  */
@media (max-width:320px){
    #nav-bar{
        background-color: #fff;
        /* gap: 10px; */
        display: flex;
        height: 60px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        height: 40px;
        width: 50px;
      

    }
    #nav-bar-cont{
        /* background-color: red; */
        gap: 10px;
        font-size: 10px;
        
    }
    #nav-bar button{
        padding: 10px;
        border-radius: 10px;
        font-size: 9px;
    }
    #hero-section{
        height: 400px;
        display: block;

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:40px;
    width: 100px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    /* font-size:40px; */
    width: 300px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    }
    #hero-section-cont img{
        height: 100px;
        width: 100px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    #about-me-2{
    width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:200px;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: block;
    /* align-self: center; */
    justify-content: center;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }

}
@media(min-width:321px)and (max-width:375px){
       #nav-bar{
        background-color: #fff;
        gap: 20px;
        display: flex;
        justify-content: start;
        height: 60px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        height: 40px;
        width: 40px;
    }
    #nav-bar-cont{
        background-color: red;
        width: 320px;
        gap: 10px;
        font-size: 10px;
        
    }
    #nav-bar button{
        padding:5px 20px;
        border-radius: 10px;
        font-size: 9px;
    }
    #hero-section{
        height: 400px;
        display: block;

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:40px;
    width: 100px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    /* font-size:40px; */
     width: 300px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    }
    #hero-section-cont img{
        height: 100px;
        width: 100px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:300px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me{
    /* background-color:#0aa7eb ; */
    display: block;
    justify-content: center;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    }
    #about-me-2{
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:55%;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: block;
    /* align-self: center; */
    justify-content: center;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }

}
@media(min-width:376px)and (max-width:425px){
       #nav-bar{
        background-color: #fff;
        /* gap: 10px; */
        display: flex;
        height: 60px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        height: 50px;
        width: 50px;
    }
    #nav-bar-cont{
        background-color: red;
        gap: 30px;
        font-size: 12px;
        
    }
    #nav-bar button{
        padding: 10px;
        border-radius: 10px;
        font-size: 9px;
    }
    #hero-section{
        height: 400px;
        display: block;

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:40px;
    width: 200px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    /* font-size:40px; */
     width: 300px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    }
    #hero-section-cont img{
        height: 100px;
        width: 100px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:300px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me{
    /* background-color:#0aa7eb ; */
    display: block;
    justify-content: center;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    }
    #about-me-2{
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:55%;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: block;
    /* align-self: center; */
    justify-content: center;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }
}
@media(min-width:426px)and (max-width:768px){
       #nav-bar{
        background-color: #fff;
        /* gap: 10px; */
        /* display: flex; */
        height: 60px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        height: 50px;
        width: 70px;
    }
    #nav-bar-cont{
        background-color: red;
        gap: 60px;
        font-size: 13px;
        
    }
    #nav-bar button{
        padding: 10px;
        border-radius: 10px;
        font-size: 9px;
    }
    #hero-section{
        height: 400px;
        /* display: block; */

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:40px;
    width: 100px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    /* font-size:40px; */
     width: 300px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    }
    #hero-section-cont img{
        height: 300px;
        width: 800px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:300px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me{
    /* background-color:#0aa7eb ; */
    display: block;
    justify-content: center;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    }
    #about-me-2{
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:55%;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: flex;
    align-self: center;
    justify-content:center ;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }

}
@media(min-width:769px)and (max-width:1024px){
       #nav-bar{
        background-color: #fff;
        /* gap: 10px; */
        display: flex;
        height: 60px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        height: 50px;
        width: 90px;
    }
    #nav-bar-cont{
        background-color: red;
        gap: 100px;
        font-size: 18px;
        
    }
    #nav-bar button{
        padding: 10px;
        border-radius: 10px;
        font-size: 9px;
    }
        #hero-section{
        height: 400px;
        /* display: block; */

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:40px;
    width: 100px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    /* font-size:40px; */
     width: 600px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    }
    #hero-section-cont img{
        height: 300px;
        width: 800px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:300px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me{
    /* background-color:#0aa7eb ; */
    display: block;
    justify-content: center;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    }
    #about-me-2{
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:55%;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: flex;
    align-self: center;
    justify-content:center ;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }

}
@media(min-width:1441px)and (max-width:2560px){
       #nav-bar{
        background-color: #fff;
        /* gap: 10px; */
        display: flex;
        height: 150px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        /* height: 100px; */
        /* width: 200px;     */
    }
    #nav-bar-cont{
        background-color: red;
        gap: 300px;
        font-size: 40px;
        
    }
    #nav-bar button{
        padding:20px 50px;
        border-radius: 10px;
        font-size: 40px;
    }
        #hero-section{
        height: 400px;
        /* display: block; */

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:40px;
    width: 100px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    /* font-size:40px; */
     width: 300px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    }
    #hero-section-cont img{
        height: 300px;
        width: 800px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:300px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me{
    /* background-color:#0aa7eb ; */
    display: block;
    justify-content: center;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    }
    #about-me-2{
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:55%;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: flex;
    align-self: center;
    justify-content:center ;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }
}
@media(min-width:1025px)and (max-width:1440px){
       #nav-bar{
        background-color: #fff;
        /* gap: 10px; */
        display: flex;
        height: 100px;
        padding: 0 10px;
    }
    #nav-bar img{
        background-color: bisque;
        height: 80px;
        width: 150px;
    }
    #nav-bar-cont{
        /* background-color: red;    */
        gap: 150px;
        font-size: 20px;
        
    }
    #nav-bar button{
        padding:8px 20px;
        border-radius: 10px;
        font-size: 20px;
    }
        #hero-section{
        height: 400px;
        /* display: block; */

        padding-left: 3px;
    }
    /* #hero-section-cont-one{
        height: 1900px;
    } */
    #one-1{
        /* margin: 30px 20px; */
    }
    #hero-section-cont-one h1{
    font-family:'Times New Roman', Times, serif ;
    font-size:70px;
    width: 100px;
    }
    #hero-section-cont-one p{
    /* font-family:'Times New Roman', Times, serif ; */
    font-size:20px;
     width: 700px;
     padding-top: 20px;
    }
    #hero-section-cont{
    background-color: blue;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    }
    #hero-section-cont img{
        height: 300px;
        /* width: 800px; */
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:300px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #hero-section-cont-one{
    /* background-color: aqua; */
    height: 300px;
    width:800px ;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #aside{
    background-color: blue;
    height: 100px;
    }
    #about-me{
    /* background-color:#0aa7eb ; */
    display: block;
    justify-content: center;
    }
    #about-me h1{
    /* background-color:red ; */
     font-family:'Times New Roman', Times, serif ;
    font-size:20px;
    padding-left: 0px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    }
    #about-me-2{
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding: 0px;
    width:55%;
    text-align: center;
    /* text-align: center; */
    }
    #about-me-cont-1{
    padding: 0px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #about-me-cont-2{
    padding: 20px 0px;
    text-align: center;
    width: 150%;
    line-height: 1.6em;
    font-size:17px;
    }
    #skill{
    /* background-color: orange; */
    height: 200px;
    display: flex;
    align-self: center;
    justify-content:center ;
    /* padding-left: 270px; */
    padding-top: 0px;
    width: 300px;
    }
    #skill-cont{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* gap: 30px; */
}
    #skill h3{
    padding-top: 20px;
    padding-bottom:0px ;
    font-size:20px;
    }
    #skill li{
        line-height: 1.6em;
        font-size:15px;
    }

}

